* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background: #F6F8FF;
}

.container {
    margin-left: 22.8175em;
    margin-top: 9em;
    margin-right: 22.8175em;
    margin-bottom: 14.1667em;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
    border-radius: 15px;
    overflow: hidden;
}

.devfinder {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.25em;
}

.devfinder h1 {
    margin-right: 19.75em;
    color: #222731;
    font-family: 'Space Mono';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.devfinder p {
    width: 40px;
    height: 19px;
    color: #697C9A;
    text-align: right;
    font-family: 'Space Mono';
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.5px;
    justify-content: center;
    margin-top: 0.5em;
    align-items: center;
    margin-right: 1em;
    margin-left: -0.5em;
    margin-bottom: 0.5em;
}

.devfinder svg {
    width: 20px;
    height: 20px;
    margin-right: 0;
}

button {
    align-items: center;
}

.search {
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
    height: 69px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}

.search svg {
    flex-direction: row;
    width: 24.058px;
    height: 24px;
    flex-shrink: 0;
    margin-top: 23px;
    margin-bottom: 22px;
    margin-left: 2em;
}

.search p {
    color: #4B6A9B;
    font-family: 'Space Mono';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    justify-content: center;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 1em;
    margin-right: 1em;
}

button {
    margin-top: 9.5px;
    margin-bottom: 9.5px;
    color: #FFF;
    margin-left: 15em;
    font-family: 'Space Mono';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 107px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #0079FF;
    border: 1px solid #0079FF;
}

.octocat {
    display: flex;
    height: 419px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}

.octocat img {
    flex-shrink: 0;
    margin-top: 3em;
    margin-left: 3em;
    width: 117px;
    height: 117px;
    flex-shrink: 0;
}

.octocat .cat {
    color: #2B3442;
    font-family: 'Space Mono';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 26px;
    margin-right: 2.5em;
    margin-bottom: 1em;
}

.content {
    width: 480px;
    height: 100px;
    margin-top: 44px;
    margin-left: 12px;
}


.content .date {
    color: #697C9A;
    display: inline-block;
    text-align: right;
    font-family: 'Space Mono';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 166px;
    height: 22px;
    margin-left: 10px;
    margin-right: 22px;
}

.content .social {
    color: #0079FF;
    font-family: 'Space Mono';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.5em;
    margin-right: 24px;
}

.content .about {
    width: 480px;
    color: #4B6A9B;
    font-family: 'Space Mono';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
    margin-left: 1.5em;
}
.statistics {
    display: flex;
    flex-direction: column;
    display: inline-block;
    width: 480px;
    height: 185px;
    flex-shrink: 0;
    margin-top: 2em;
}

.statistics ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 480px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F6F8FF;
    align-items: center;
}

.statistics .title {
    color: #4B6A9B;
    font-family: 'Space Mono';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 13px;
    margin-right: 19px;
}

.statistics .total {
    color: #2B3442;
    font-family: 'Space Mono';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 22px;
    margin-right: 33px;
    padding: 5px;
}

.statistics .repos {
    margin-left: 1em;
}

.statistics .follow {
    margin-left: 1.75em;
}

.statistics .following {
    margin-right: 83px;
}
.address {
    margin-top: -5em;
    margin-bottom: 10px;
}

.SanF {
    width: 13.753px;
    height: 20px;
    margin-right: 7.1em;
}

.SanF svg {
    flex-shrink: 0;
}

.address .city {
    color: #4B6A9B;
    font-family: 'Space Mono';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 37px;
    margin-left: 1em;
}
.available {
    width: 20px;
    height: 16.25px;
}


.available .null {
    color: #4B6A9B;
    font-family: 'Space Mono';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
    margin-right: 22px;
}

.available svg {
    margin-left: 1.5em;
}
.link {
    width: 19.991px;
    height: 19.945px;
    margin-right: 3.875em;
}

.link .git {
    color: #4B6A9B;
    font-family: 'Space Mono';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
    margin-right: 22px;
}

.github {
    width: 20px;
    height: 19.852px;
    flex-shrink: 0;
}

.github .handle {
    color: #4B6A9B;
    font-family: 'Space Mono';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
    margin-right: 22px;
}

/* Dark Mode */
.dark-mode .devfinder {
    flex-shrink: 0;
    border-radius: 15px;
}

.dark-mode .devfinder h1 {
    color: #FFF;
    font-family: 'Space Mono';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dark-mode .devfinder p {
    color: #FFF;
    text-align: right;
    font-family: 'Space Mono';
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.5px;
    margin-right: 1em;
    margin-left: -0.5em;
    margin-bottom: 0.5em;
}

.dark-mode .devfinder svg {
    margin-top: 0.4em;
}

.dark-mode .devfinder svg .dark-mode .search {
    width: 327px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #1E2A47;
    align-items: center;
    border: 2px solid red;
}

.dark-mode .search p {
    color: #FFF;
    font-family: 'Space Mono';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

 .dark-mode .octocat .cat {
    color: #FFF;
    font-family: 'Space Mono';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 }

 .dark-mode .octocat .date {
    color: #FFF;
    text-align: right;
    font-family: 'Space Mono';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }

  .dark-mode .octocat .social {
    color: #0079FF;
    font-family: 'Space Mono';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

   .dark-mode .octocat .about {
    color: #FFF;
    font-family: 'Space Mono';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
   }

   .dark-mode .address .city,
   .dark-mode .address .null,
   .dark-mode .socials .git,
   .dark-mode .socials .handle
    {
    color: #FFF;
        font-family: 'Space Mono';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
   }

   .dark-mode .statistics .total {
    color: #FFF;
    font-family: 'Space Mono';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
   }

    .dark-mode .title .repos,
    .dark-mode .title .follow,
    .dark-mode .title .following{
        color: #FFF;
        font-family: 'Space Mono';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

/* Mobile */
@media only screen and (max-width: 450px) {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0 auto;
    }

    body {
        width: 375px;
        height: 777px;
        background: #F6F8FF;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin-top: 31px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 79px;
    }

    .devfinder {
        width: 327px;
        height: 38px;
    }

    .devfinder h1 {
        color: #222731;
        font-family: 'Space Mono';
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-right: 5em;
    }

    .devfinder p {
        color: #4B6A9B;
        text-align: right;
        font-family: 'Space Mono';
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.5px;
        margin-bottom: 0.45em;        
    }

    .devfinder span{
        width: 20px;
        height: 20px;
        color: hsla(217, 35%, 45%, 1);
    }

    .search {
        display: flex;
        flex-direction: row;
        width: 327px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 15px;
        background: #FEFEFE;
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
    }

    .search svg {
        width: 20.048px;
        height: 20px;
        flex-shrink: 0;
        margin-left: 1em;
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }
    .search p {
        width: 184px;
        height: 25px;
        color: #4B6A9B;
        font-family: 'Space Mono';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-top: 18px;
        margin-bottom: 17px;
        margin-right: 10px;
    }
    .search button {
        width: 84px;
        height: 46px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #0079FF;
        margin-left: 1px;
        border: 2px solid #0079FF;
    }

    .octocat {
        width: 327px;
        height: 517px;
        flex-shrink: 0;
        border-radius: 15px;
        background: #FEFEFE;
        box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
    }

    .octocat img {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 70px;
        height: 70px;
        flex-shrink: 0;
        margin-left: 24px;
        margin-top: 2.5em;
    }

    .octocat .cat {
        color: #2B3442;
        font-family: 'Space Mono';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 16px;
        margin-right: 24px;
    }

    .octocat .social {
        margin-left: 13px;
        margin-right: 19px;
        color: #0079FF;
        font-family: 'Space Mono';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .content .date {
        margin-top: 2px;
        display: block;
    }

    .content .social {
        margin-top: 2px;
        margin-left: 13px;
        margin-right: 19px;
    }
    .content .about {
        width: 279px;
        margin-left: 13px;
        margin-right: 25px;
        color: #4B6A9B;
        font-family: 'Space Mono';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-left: -5em;
    }

    .statistics {
        display: flex;
        display: inline-block;
        width: 270px;
        height: 85px;
        border-radius: 15px;
        background: #FEFEFE;
        margin-left: -5em;
        overflow: hidden;
    }

    .statistics .title {
        margin-left: 5px;
        margin-right: 3px;
        color: #4B6A9B;
        text-align: center;
        font-family: 'Space Mono';
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .statistics .total {
        margin-left: 16px;
        margin-right: 24px;
        color: #2B3442;
        text-align: center;
        font-family: 'Space Mono';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    .statistics .repos {
        margin-left: 15px;
        margin-top: 18px;
        margin-left: 11px;
        color: #4B6A9B;
        text-align: center;
        font-family: 'Space Mono';
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .statistics .follow {
        margin-top: 18px;
        width: 81px;
        margin-left: 11px;
        margin-right: 10px;
        color: #4B6A9B;
        text-align: center;
        font-family: 'Space Mono';
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .statistics .following {
        margin-right: 14px;
        margin-top: 18px;
        margin-left: 11px;
        margin-right: 16px;
        color: #4B6A9B;
        text-align: center;
        font-family: 'Space Mono';
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .SanF svg {
        width: 13.753px;
        height: 20px;
        flex-shrink: 0;
    }

    .address {
        margin-top: 2em;
        margin-left: -5em;
        margin-right: 5em;
    }

    .address .socials {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .address .city {
    color: #4B6A9B;
    font-family: 'Space Mono';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 37px;
    margin-right: -2em;
}
.address .null {
    color: #4B6A9B;
    font-family: 'Space Mono';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 13px;
    margin-right: 19px;
}
    .socials {
        margin-left: -5em;
        margin-right: 5em;
    }

    .socials .git {
        color: #4B6A9B;
        font-family: 'Space Mono';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 13px;
        margin-right: 13px;
    }

    .socials svg {
        margin-top: 4px;
    }

    .socials .handle {
        color: #4B6A9B;
        font-family: 'Space Mono';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 13px;
        margin-right: 13px;
    }

    .available svg {
        margin-left: -6px;
        margin-top: 4px;
    }

    .available .null {
        margin-top: 4px;
    }

    /* Dark Mode */
    .dark-mode .search p {
        color: #FFF;
        font-family: 'Space Mono';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-left: -1em;
     }

    .dark-mode .search svg {
        margin-right: 1em;
    }

    .dark-mode .search .button {
        color: #FFF;
        font-family: 'Space Mono';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .dark-mode .octocat .cat {
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 1em;
    }
    .dark-mode .octocat .date {
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
    }

    .dark-mode .octocat .social {
        color: #0079FF;
        font-family: 'Space Mono';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .dark-mode .octocat .about {
        color: #FFF;
        font-family: 'Space Mono';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
    }

    .dark-mode .statistics .title {
        color: #FFF;
        text-align: center;
        font-family: 'Space Mono';
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: -0.5em;
    }

    .dark-mode .statistics .total {
        color: #FFF;
        text-align: center;
        font-family: 'Space Mono';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    .dark-mode .address .SanF {
        color: #FFF;
        font-family: 'Space Mono';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 12em;
    }

    .dark-mode .address .null {
        color: #FFF;
        font-family: 'Space Mono';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 13px;
        margin-right: 19px;
    }
}

